*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #707070;
    font-size: 16px;
}
ul,
li{
    list-style-type:none ;
    
}
/* ..........comienzo del aside_bar........*/

.aside_bar{
    width: 250px;
    height: 100vh;
    background-color: #fff;
    box-shadow: 0 0 8px rgb(230, 230, 230);
    overflow: hidden;
    overflow-y: auto;
    position: fixed;
    padding: 15px;
}
.navbar_img img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.aside_bar a{
    text-decoration: none;
}
.aside_bar .logo{
    text-align: center;
    margin-bottom: 50px;
}

.aside_bar .logo a img{
    width: 60px;
}

.aside_bar .logo a h1{
    font-size: 40px;
    color: #B576F6;
    font-family: "highteous";
}
.aside_bar .logo a:last-child{
    display: none;
}

.slider_bar .navbar{
    display: flex;
    align-items: center;
}

.slider_bar .navbar .navbar_img{
    margin-right: 10px;
    margin-bottom: 30px;
    
}

.slider_bar .navbar .name_post h5{
   color: #ccc;
}

 ul li a{
 display: flex;
 align-items: center;
 padding: 15px 10px;
 margin: 10px 0;
 width: 100%;
 transition: -4s;
}

 ul li a:hover{
    background-color: #B576F6;
    color: #fff;
}

.slider_bar .aside_barra_menu ul li a .nav_links{
    margin-left: 15px;
}

/* ..........fin del aside_bar........*/

/* ..........comienzo del header........*/
header{
    margin-left:250px;
    padding: 15px;
    box-shadow: rgb(230, 230, 230);
    min-height: 80px;
}
.header-header{
   display: flex;
   align-items:center ;
   justify-content: space-between; 
}
.header-header .right-part form{
     width: 300px;
     height: 45px;
     position: relative;
}
.right-part form input{
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: 0 0 8px rgb(223, 223, 223);
    padding: 30px 15px;
}
.right-part form input:focus{
    box-shadow: 0 0 8px #ccc;
}
.header-header .right-part form button{
    position: absolute;
    top: 0;
    right: 0;
    width: 15%;
    height: 130%;
    padding-top: 5px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    background-color: #B576F6;
    border: none;
    cursor: pointer;
}
.header-header .left-part ul{
    display: flex;
    align-items: center;
    
}
.header-header .left-part ul{
    margin-left: 30px;
}
.header-header .left-part ul .perfil{
    display: flex;
    align-items: center;
}
 .left-part ul .perfil .navbar_img{
    margin-left: 15px;
 }

 .left-part ul .perfil ul li span i{
    font-size: 22px;

 }
  .perfil ul li span:hover{
    color: #B576F6;
 }
 .left-part ul .perfil ul li .have-dost span{
    position: relative;
 }

  .have-dost span::before{
    content: "";
    position: absolute;
    top: -5px;
    width: 8px;
    height: 8px;
    background-color: #B576F6;
    border-radius: 50px;

 }

/* ..........fin del header........*/

/*............comienzo del main.....*/
.main-content{
    margin: 15px;
margin-left: 275px;
padding: 15px;
box-shadow: 0 0 8px rgb(230, 230, 230);

}
.main-content .info-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
}
.main-content .info-card .card{
    width: 31%;
    min-height: 250px;
    padding: 20px;
    background: linear-gradient(to left,#B576F6, #B576F6);
    border-radius: 10px;
    color: #fff;
}

.main-content .info-card .card:nth-child(2){
    background: linear-gradient(to left,#6AA5E3, #6edaeb);
}
.main-content .info-card .card:nth-child(3){
    background: linear-gradient(to left,#FEB643, #FEB933);
}
.main-content .info-card  .card::before,
.main-content .info-card  .card::after{
    content: "";
    position: absolute;
    top: -15%;
    right: -15%;
    width: 150px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 100%;
}
.main-content .info-card  .card::after{
    top: auto;
    bottom: -5%;
    right: -5%;
}
.main-content .info-card .card .card-icono{
    margin-bottom: 15px;
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 8px #fff;
}
.main-content .info-card .card .card-icono span i{
    font-size: 20px;
}
.main-content .info-card .card .card-detalle{
    margin-bottom: 10px;
    margin-top: 25px;
}


/*............fin comienzo del main.....*/


/*...........comienzo de la tabla.....*/

.main-content .main-table{
margin: 15px 0;

}
.main-content .user-table{
    display: grid;
}
.main-content .user-table table thead tr td{
    padding: 20px 0;
    font-weight: bold;
    color: #000;
}
.main-content .user-table table thead tr td{
    padding: 15px 0;
}
.main-content .user-table tbody tr .btn{
    padding: 7px 25px;
    background: linear-gradient(to left, #B576F6, #B576F6);
    border-radius: 3px;
    display: inline-block;
    color: #fff;
}
.aside_bar .hide{
    width: 100px;
    overflow: hidden;
}
.aside_bar .hide .logo a:last-child{
 display: block;
}
.aside_bar .hide .logo a:first-child,
.aside_bar .hide .logo .name_post,
.aside_bar .hide .aside_barra_menu .nav_links{
    display: none;
}
.aside_bar .hide .aside_barra_menu span:not(.nav_links){
    font-size: 20px;
    padding-left: 5px;
}
header .main-content{
    transition: 2s;
}





/*...........fin comienzo de la tabla.....*/

/*...........comienzo del responsive.....*/
@media screen and (max-width:992px){
    .aside_bar{
        left: -250px;
        z-index: 10000;
        transition: 5s;

    } 
    .aside_bar .hide{
        width: 250px;
        left: 0;
    }

    header , .main-content{
        margin:0;
    }
    .aside-left{
        margin-left: 0;
    }

 .aside_bar .hide .logo a:first-child,
.aside_bar .hide .logo .name_post,
.aside_bar .hide .aside_barra_menu .nav_links{
    display: block;
}
.aside_bar .hide .logo a:first-child{
    display: none;
}
}
@media screen and (max-width:767px){
    .main-content .info-card .card{
        width: 48%;
        margin-bottom: 15px;
    }
    header .header-header .right-part form{
        width: 200px;
        height: 40px;
    }
    .main-content .user-table table{
        overflow-x: auto;
    }
    .main-content .user-table table{
        width: 700px;
    }
}

@media screen and (max-width:576px){
header .header-header{
    flex-direction: column-reverse;
}
header .header-header .right-part form{
    width: 100%;
    height: 40px;
}
header .header-header .left-part,
header .header-header .right-part {
width: 100%;
margin: 15px;
}
header .header-header .left-part ul{
justify-content: space-between;
}
header .header-header .left-part ul li:first-child{
    margin-left: 0;
}
.main-content .info-card .card{
    width: 100%;
}

}

@media screen and (max-width:425px){
header .header-header .left-part ul li{
    margin-left: 15px;
}
header .header-header .navbar h3{
font-size: 14px;
}
    
}

/*...........fin comienzo del responsive.....*/

